/* 首页响应式 */
@media screen and (max-width:768px){
    .mobile .CaseOur{width: 100%!important;}
    .mobile .CaseOur strong{font-size: 2rem!important;}
    .mobile .CaseBnt{
        display: flex;justify-content: center;
    }
    .mobile .Case_List{width: 95%!important;}
    .mobile .hotTitle label{font-size: .9rem!important;}
    .mobile .hotCase .hotMask span{font-size: .7rem;}
    .mobile .hotCase .hotMask img{    width: 20px;height: 20px;}
    .mobile .btnMore{float: none;width: 80%;margin-top: .6rem;}
    .mobile .magTop{margin-top: 2rem !important;}
    .mobile .mag100 {margin-top: 1rem !important;}
    .mobile .responsive{text-align: left;}
    .mobile .img-responsive{width: 100%;}
    .mobile .homeDesignInfo{padding: 2rem 1rem!important;}

    /* 导航响应式 */
    .header{background: #fff;}
    .header .nav-item{text-align: left;padding: .5rem 0;}

    /* 设置底部响应式 */
    .footer_Nav .footer_NavList{justify-content: flex-start!important;}

    /* 设置产品中心 */
    .mobileProduct .Recommend{padding-top: 2rem!important;}
    .mobileProduct .Price{margin-bottom: 0;}
    .mobileProduct .Price p{font-size: 1rem;}
    .mobileProduct .Price span{font-size: .9rem!important;}
    .mobileProduct .Recommend ul{list-style: none;padding-left: 0!important;}
    .mobileProduct .Recommend .info strong{display: none!important;}
    .mobileProduct .Recommend ul li{font-size: .9rem!important;}
    .mobileProduct .Nordic{margin-bottom: 2rem!important;}
    .mobileProduct .ImgTwo{margin-top: 1rem;}

    /* 设置产品中心详情*/  
    .mobilePinfo .Main{margin-top: 2.5rem!important;margin-bottom: 3rem!important;}
    .mobilePinfo .WarpInfo{margin-top: 1.5rem;}
    .mobilePinfo .Table{margin-bottom: 3rem!important;}

    /* 设置产品服务中心*/    
    .mobileServer .Tab{width: 100%!important;margin-top: 1.5rem!important;}
    .mobileServer .Tab span{font-size: .9rem;}
    .mobileServer .LineWarp{width: 100%!important;}
    .mobileServer .LineWarpImg{width: 90%;}
    .mobileServer .LineWarpImg img{width: 100%!important;}
    .mobileServer .product .title img{display: none;}
    .mobileServer .productInfo{padding: 2rem 1rem!important;}
    .mobileServer .TabList .col-md-6{padding: 0;}
    .mobileServer .ImgList>div:nth-child(2){margin-top: 3rem!important;}
}   